[Desktop Entry]
Name=RustBlue
Comment=Manage Bluetooth devices
GenericName=Bluetooth Manager
Exec=rustblue
Icon=bluetooth
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
Keywords=bluetooth;device;wireless;rustblue;
StartupNotify=true
MimeType=
StartupWMClass=rustblue
